    section{
    padding: 20rem;
    margin: 25rem;
    border-radius: 10px;
    background: rgb(255, 248, 187);
    box-sizing: border-box;
    }
    header{
    background: #34db25;
    box-sizing: border-box;
    border-radius: 20rem;
    }
        h1, h2, h3, h4, h5 {
            font-family: 'Courier New', Courier, monospace;
            color: red;
            text-align: left;
            font-size: 40rem;
            
        }
        p, ul {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 30rem;
            color: rgb(0, 0, 0);
            
            }
        body{
    background-color: #fffc5d;
        }