    section{
        background-color: #f7f5b4;
        padding: 1.5rem;
        margin-top: 1.25rem;
        border-radius: 0.5rem;
    }
    header {
        background-color: oklab(64.521% -0.17336 0.13181);
        padding: 1.5rem;
        margin-top: 1.25rem;
        border-radius: 0.5rem;
        
        }
        h1, h2, h3, h4, h5 {
            font-family: 'Courier New', Courier, monospace;
            color: red;
            text-align: left;
            font-size: 1.5rem; 
            
        }
        p, ul {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 1rem;
            color: rgb(0, 0, 0);
            
            }
        body{
    background-color: #fffc5d;
        }